header {
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
}

body {
    background-color: cadetblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

p, h2 {
    color: black;
    margin: 10px;
}

.subtitle {
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}


.home-button {
    height: max-content;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 15%;
}

.home-button > button, .userpanel > button {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.usr{
    font-size: large;
    color: black;
    margin: 2px;
    background-color: white;
}

.webtitle {
    font-size: xx-large;
    text-align: center;
    width: 70%;
}

.userpanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.up_button {
    border: 2px solid black;
    font-size: medium;
    background-color: white;
    margin: 5px;
    color: black;
}


.container {
    display: flex;
    flex-wrap: wrap; /* permite varias filas */
    justify-content: center;
}


.risk-boton {
    flex: 0 1 calc(50% - 30px);  /* ya no crecen */
    display: flex;
    align-items: center; 
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    margin: 15px;
    padding: 30px; /* controla altura */
    color: black;
    cursor: pointer;
    transition: background 0.2s;
}

.texto_risk{
    width: 80%;
    font-size: large;
    text-align: center; 
    padding-left: 2px;
}

.nota{
    width: 20%;
    font-size: large;
    justify-content: center;
    text-align: right; 
}

footer {
    margin-top: auto;
    background-color: cornflowerblue;
    text-align: center;
    border: 2px solid black;
    padding: 6px;
    height: 80px;
}

footer > p, a{
    color: black;
    font-size: medium;
}
